@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

#container {
    /* border: 2px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsl(0, 0%, 100%);
    box-shadow: hsl(218, 44%, 22%) 0px 13px 27px -5px, hsl(218, 44%, 22%) 0px 8px 0px -8px;
    border-radius: 15px;
    width: 280px;
    height: 450px;
}

#container .qr_code {
    background: url(./images/image-qr-code.png) no-repeat center center/cover;
    /* border: 2px solid green; */
    border-radius: 15px;
    height: 250px;
    margin: 15px;
}

#container .info_1 {
    margin: 15px;
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
} 

#container .info_2 {
    margin: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}
